*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
.header{
    background-color: azure;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    font-family: 'Bebas Neue';
    flex-wrap: wrap;
    
}
.header .logo h2{
    font-size: 60px;

}

.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}
.header.nav-links li a{
    color: aqua;
} 
.principal{
    background-image: url(../img/imagen-de-fondo.jpg);
    font-family: 'Bebas Neue';
    display: flex;
    justify-content:space-between;
   
    
    margin: 5px;
} 
.principal p{
    flex: 1;
    margin-top: 40px;
    margin-bottom: 40px; 
    align-items: center;
}
.principal img{
   flex: 1;

} 
footer{
    background-image: url(../img/imagen-de-fondo.jpg);
    font-family: 'Bebas Neue';
} 
.body{
    max-width: auto;
    padding: 24px;
    margin: auto;
    height:100vh ;
    border: 10%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    " header "
    "  main "
    "  footer " ;

} 
.header{
    grid-area: header;
} 
.main{
    grid-area: main;
}
.footer{
  grid-area:footer ;
}

@media(max-width:768px){
    body{
        background-color: black;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        "publicidad";

    }
}